.hero {
    height: 700px;
    overflow: hidden;

    .main-menu {
        top: 0;
        right: 0;
        left: 0;
    }

    .navbar {
        padding: 1.5rem 0;

        a {
            color: #FFF;

            &.nav-link {
                padding: 0.5rem 1rem;
            }
        }

        .navbar-brand {
            svg {
                height: 35px;
                fill: white;
            }
        }
    }

    .intro {
        z-index: 1;
        margin-top: -7%;
    }

    .teaser-image {
        z-index: 1;
        max-width: 450px;
        margin-left: auto;
        box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    }

    .skew {
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(45deg, #33AFE2, #4D85FE);
        transform: skewY(-12deg);
        transform-origin: 0;
    }

    h1 {
        color: #FFF;
        font-weight: bold;
        font-size: 2.5rem;
    }

    .lead {
        max-width: 600px;
    }
}

.features {
    margin-top: -4rem;

    svg {
        height: auto;
        max-width: 65px;
        margin: 0 auto;
        display: inherit;
    }
}
