// Variables
@import 'variables';
@import 'deployment';
@import 'projects/index';
@import 'projects/show';
@import 'projects/tabs';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// SVG helper classes.
@import 'svg';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

[v-cloak] {
    display: none
}
