// Pages.
@import 'home';

// Variables
@import 'variables';
@import 'deployment';
@import 'projects/index';
@import 'projects/show';
@import 'projects/tabs';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// SVG helper classes.
@import 'svg';

// @TODO WIP remove.
nav {
    a {
        background: #4678E7;
        padding: 1rem;
        color: white;
        display: block;
        font-size: 1.125rem;
    }
}

.deployment-overview {
    background: white;
    border-bottom: 1px solid #EDEDEF;
    overflow: hidden;

    .environment, .project {
        padding: 2.5rem 5rem;

        span {
            color: #616F7A;
        }
    }

    .skewed-border  {
        transform: rotate(15deg);
        margin-bottom: -15px;
        margin-top: -15px;
        background: #EDEDEF;
        max-width: 1px;
        flex: 1;
    }
}

[v-cloak] {
    display: none
}
